.elementButton { /* Botão de elementos, classe utilizada na tabela periódica */
  background-color: #FFFFFF;
  height: 100px;
  width: 100px;
}
.elementButton:hover { /* Cor do Botão de Elemento ao ter o cursor do mouse posicionado em cima */
  background-color: #F000FF;
}

h1 { /* Editando a tag h1 para todo o site */
  text-align: center;
  font-weight: bold;
}

h2 { /* Editando a tag h2 para todo o site */
  text-align: center;
  font-style: italic;
}
